a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: 'Exo 2.0 Thin';
  src: url('fonts/Exo20-Thin.eot');
  src: url('fonts/Exo20-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo20-Thin.woff') format('woff'),
    url('fonts/Exo20-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.App {
  text-align: center;
  height: 100vh;
  background-image: url(img/pattern.png);
  background-repeat: repeat;
  background-position: 0% 0%;
  background-size: 7.5%;
}
.AppContainer {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.2) 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.2) 75%,
    rgba(0, 0, 0, 0.4) 90%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.AppTitle {
  font-family: 'Exo 2.0 Thin', 'Helvetica', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2;
}
