$default: #1698d9;

.CardItem {
  position: relative;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #000;
}
.Card {
  position: relative;
  width: 320px;
  height: 480px;
}
.Card:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  border-bottom: 43px solid #f2f2f2;
  border-left: 43px solid transparent;
}
.CardHeader {
  position: relative;
  height: 41px;
  background: #f2f2f2;
  border-top: 4px solid $default;
  border-right: 4px solid $default;
  border-top-right-radius: 12px;
  margin-left: 41px;
  text-align: left;
  &-title {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1875;
    padding: 17px 0 4px 10px;
    color: #666;
  }
}
.CardHeader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 57.98px;
  border-left: 4px solid $default;
  transform: translate(-21px, -11px) rotate(45deg);
  z-index: 1;
}
.CardInner {
  position: relative;
  background: url('img/cat_photo.png') no-repeat -24px 208px/100%, #f2f2f2;
  height: calc(100% - 41px);
  border-left: 4px solid $default;
  border-right: 4px solid $default;
  border-bottom: 4px solid $default;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  &-title {
    padding-left: 44px;
    font-size: 3rem;
    line-height: 1.167;
    text-align: left;
  }
  &-subtitle {
    padding-left: 47px;
    font-size: 1.5rem;
    line-height: 1.167;
    text-align: left;
  }
  &-weight {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    right: 12px;
    bottom: 12px;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: darkgray;
    color: #fff;
    &-val {
      font-size: 2.625rem;
      line-height: 1;
      padding-top: 5px;
    }
    &-metrics {
      font-size: 1.25rem;
      line-height: 1;
    }
  }
}

.BuyIt {
  font-size: 0.8125rem;
  line-height: 1.15;
  color: #fff;
  padding-top: 14px;
  span {
    color: $default;
    border-bottom: 1px dashed $default;
  }
}
